// Person.module.scss

.title {
  color: #057;
  font-size: 1.5rem;
}
.title > span {
  color: #777;
}

button {
  width: 30px;
  height: 30px;
  font-weight: 700;
  background-color: #ddd;
  border-radius: 2px;
  border: 1px solid #333;
  margin-right: 5px;
}

.count {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
