@charset "UTF-8";
/* main_v1.css */
body {
  --color-gray1:#c4c4c4;
  --color-sample1:rgba(20, 100,255,0.15);
}

/* main_common.css */
/* design */
#wrap {
  width: 1440px; height:auto; }


 /* #headBox */
  #headBox{width: 100%; height: 200px;
    position:relative;
    padding-top: 80px;
    box-sizing: content-box; /* headBox 상단의 공간을 만들기위해 */
    background-color:#0CE6F0;
  }

    #mid_header {width: 100%; height: 120px;
      padding: 30px 40px 30px 60px;
      box-sizing: border-box;
      background-color:#777;}

    h1 {
      float: left;
      width: 193px; height: 64px;
      background-color: #fff;}

    .mid_navigation {
      float: left;
      margin: 0px 20px 0px 20px ;
      width: 800px; height: 30px; 
    background-color: #dd0;}
    
     .mid_navigation > .gnb {width: 100%; height: 100%;}
  
      .gnb li{
        float:left;
        margin-left: 20px;
        
        box-sizing: border-box;
        color: #fff;
        text-align: center;}
  

      .serch_box {
        float: right;
        margin-top: 20px;
        width: 300px; height: 40px;
        background-color: #ddf; }
  
  


    /* top_navigation -------------------------*/

      #top_navigation {
        /* 내용을 강제로 상단으로 끌어올림 ^^ 요롷게요~~ */
        position:absolute; top: 0; left:0; 
        width: 100%; height: 80px;
        padding: 30px 70px;
        box-sizing: border-box;
       background-color: #fff;}
      
      .support_unb {
        float: left;
        width: 430px; height: 30px;}

      .support_area {width: 100%; height: 100%;}

      .support_area li{
        float: left;
        margin-right: 20px;
        box-sizing: border-box;
        text-align: center;}


      .user_unb {
        float:right;
        width: 310px; height: 30px;}
  
      .user_area {width: 100%; height: 100%;}
  
      .user_area li{
        float:left;
        margin-left: 20px;
        box-sizing: border-box;
        text-align: center;}








/* #viewBox */
  #viewBox{width: 100%; height: 600px;
  background-color:#eee;}


/* #bestPdBox */
  #bestPdBox{width: 100%; height: 200px;
  background-color:#777;}

/* #brandAboutBox */
  #brandAboutBox{width: 100%; height: 200px;
  background-color:#ddd;}

 /* #rivewPdBox  */
  #rivewPdBox{width: 100%; height: 200px;
  background-color:#777;}

/* #infoBox */
  #infoBox{width: 100%; height: 200px;
  background-color:#eee;}

  /* #footBox */
  #footBox{width: 100%; height: 200px;
  background-color:#444;}